*
**/*/.pyc
**/*/__pycache__
**/*/.ipynb_checkpoints

!environment.yml
!inference-requirements.txt
!requirements.txt
!download_pretrained_model.py

!class2label.json
!model.pt

!main.py
!utils.py
!classification
!clustering
